altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==3.0.1
future==0.18.3
idna==3.4
numpy==1.24.1
pandas==1.5.3
pefile==2022.5.30
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
python-dateutil==2.8.2
pytz==2022.7.1
pywebio==1.7.1
pywin32-ctypes==0.2.0
requests==2.28.2
six==1.16.0
tornado==6.2
ua-parser==0.16.1
urllib3==1.26.14
user-agents==2.2.0
